<nav class="main_header">
  <div class="nav-wrapper">
    <div class="inner-wrapper">
      <a routerLink="/" class="logo">Logo</a>
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/products">Products</a>
        </li>
        <li>
          <a routerLink="/contacts">Contacts</a>
        </li>
      </ul>
    </div>
    <a [routerLink]="['/addProduct']" class="right btn waves-effect waves-light">Add product<i
            class="material-icons right">add</i></a>
  </div>
</nav>
<div class="mess" [ngClass]="{'active': mess}">
  New product added
</div>
