<div class="container">
  <div class="card">
    <div class="card-content">
      <h1>Chupryna Dmytro</h1>

      <ul class="collection">

        <li class="collection-item avatar">
          <i class="material-icons circle  light-blue lighten-1">smartphone</i>
          <span class="title">Phone:</span>
          <p>+380501934834</p>
        </li>

        <li class="collection-item avatar">
          <i class="material-icons circle cyan lighten-1">perm_phone_msg</i>
          <span class="title">Skype:</span>
          <p>mufenman</p>
        </li>

        <li class="collection-item avatar">
          <i class="material-icons circle teal lighten-1">email</i>
          <span class="title">E-mail:</span>
          <p>mufenman@gmail.com</p>
        </li>

      </ul>
    </div>
  </div>
</div>